<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Wikidata Web Semantica  </h1>
</div>
<h2>Queries</h2>
<p-radioButton name="queries" value="0" label="Todas las startup del mundo" [(ngModel)]="selectedValue"></p-radioButton>
<p-radioButton name="queries" value="1" label="Todas las startup españolas" [(ngModel)]="selectedValue"></p-radioButton>
<p-radioButton name="queries" value="2" label="Ratio Compañías/Startups por país" [(ngModel)]="selectedValue"></p-radioButton>
<!--- <p-button name="Send" label="Send" (onClick)="showWikidata=true"></p-button>-->
<h2>Results</h2>
<app-wikidata [query]="queries[selectedValue]"></app-wikidata>
